@import "~variables.scss";
@import "~mixins.scss";

main-layout {
  @include flexColumn();
  @include flex();

  .main-layout-component-header {
    color: $primary;
    background: $bg-primary;
  }
  .main-layout-component-content {
    @include flexContent();
    color: $tertiary;
    background: $bg-tertiary;
    margin-top: 71px;
    border-radius: 4px;
  }
}
