@import "~core/variables.scss";
@import "~core/mixins.scss";

main-layout {
  @include flexColumn();
  @include flex();
  background: $bg-primary;
  margin-top: 51px;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-y: auto;

  .main-layout-component-header {
  }

  .main-layout-component-content {
    @include flexContent();
    color: $text-color;
    background: $bg-page;
    border-radius: 4px;
  }
}
