<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Starter App</title>
  <script type="text/javascript" src="//cdn.auth0.com/js/lock-9.0.js"></script>
</head>

<body ui-view>
  <% if (htmlWebpackPlugin.options.devServer) { %>
    <script src="http://localhost:8080/webpack-dev-server.js"></script>
  <% } %>
</body>
</html>
