@import "variables.scss";

@mixin flex($values: 1) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin flexBase() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

@mixin flexRow() {
  @include flexBase();
}

@mixin flexColumn() {
  @include flexBase();
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@mixin flexChild($values: 1) {
  @include flex($values);
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

@mixin flexContent($value: $padding, $flexValue: 1) {
  @include flexChild($flexValue);
  padding: $value;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.flex-row {
  @include flexRow();
}

.flex-column {
  @include flexColumn();
}

.flex-content {
  @include flexContent();
}
